.about {
	&-wrapper {
		background: $light-100;
	}
	&-grid {
		display: grid;
		padding-left: calc((100% - 1744px) / 2);
		grid-template-columns: calc(50% - ((100% - 1744px) / 2)) auto;
	}
	&-video {
		display: grid;
		place-items: center;
		width: 100%;
		min-height: 640px;
		background: linear-gradient(rgba($black-100, .3)), image('about-video.jpg') no-repeat 50% / cover;
	}
	&-text {
		@include flex(column, flex-start, center);
		padding-right: 70px;
		&__title {
			margin-top: 12px;
		}
		&__text {
			margin: 0;
			margin-top: 24px;
			font-size: 2rem;
			line-height: 1.4;
			font-weight: 500;
		}
		&__btn {
			margin-top: 32px;
		}
	}
}

@media screen and (max-width: 1743px) {
	.about {
		&-grid {
			padding-left: calc((100% - 1329px) / 2);
			grid-template-columns: calc(50% - ((100% - 1329px) / 2)) auto;
		}
		&-text {
			padding-right: 40px;
		}
	}
}

@media screen and (max-width: 1329px) {
	.about {
		&-grid {
			padding-left: calc((100% - 991px) / 2);
			grid-template-columns: calc(50% - ((100% - 991px) / 2)) auto;
		}
		&-video {
			min-height: 480px;
			& svg {
				width: 84px;
				height: 84px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.about {
		&-wrapper {
			padding: 50px 0;
		}
		&-grid {
			max-width: 720px;
			padding: 0 15px;
			margin: 0 auto;
			grid-template-columns: 100%;
			grid-template-rows: auto auto;
		}
		&-text {
			margin-bottom: 45px;
			padding: 0;
			&__btn {
				margin-top: 55px;
			}
			&__text {
				font-size: 1.8rem;
				line-height: 1.39;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.about {
		&-text {
			padding-right: 0;
			&__text {
				&_founders {
					font-size: 1.6rem;
					line-height: 1.875;
				}
			}
		}
		& .container-fluid {
			max-width: 540px;
			padding: 0 16px;
			padding-bottom: 52px;
		}
		&_founders {
			& .about-video {
				min-height: 215px;
			}
		}
		&-video {
			min-height: 215px;
		}
	}
}

@media screen and (max-width: 576px) {
	.about {
		& .container,
		& .container-fluid {
			box-sizing: border-box;
			padding: 0 16px;
		}
		& .container-fluid {
			padding-bottom: 52px;
		}
	}
}