.btn {
	color: $white;
	background: $orange-400;
	box-sizing: border-box;
	text-align: center;
	font-weight: 800;
	&:hover,
	&:focus {
		opacity: .85;
	}
	&_size {
		&-l {
			font-size: 1.8rem;
			line-height: 1.39; 
			padding: 1.055em 2em;
		}
		&-m {
			font-size: 1.4rem;
			line-height: 1.57;
			padding: .643em 2em;
		}
	}
	&_submit {
		width: 200px;
		padding: 1em auto;
	}
	&_transparent {
		background: transparent;
		color: $orange-400;
		border: 1px solid $orange-400;
		&:hover,
		&:focus {
			color: $white;
			background: $orange-400;
		}
	}
}

@media screen and (max-width: 991px) {
	.btn {
		&_size {
			&-l {
				font-size: 1.8rem;
				line-height: 1.39;
				width: 100%;
				padding: .83em 1em;
			}
			&-m {
				font-size: 1.8rem;
				padding: .833em 1.389em;
			}
		}
	}
}