.modal {
	display: none;
	&_active {
		display: block;
	}
	&-coach {
		width: 70vw;
		box-sizing: border-box;
		max-height: 80vh;
		overflow: scroll;
		z-index: 50;
		position: fixed;
		top: 50vh;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		& .coaches {
			&-card {
				background: $white;
				padding: 48px;
				padding-bottom: 56px;
				margin: 0;
				&__header {
					& img {
						width: 120px;
						height: 120px;
					}
				}
			}
		}
	}
	&-submit {
		width: 400px;
		min-height: 365px;
		z-index: 50;
		position: fixed;
		top: 50vh;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background: icon('paper-plane.svg') no-repeat -10px 76px;
		background-color: $white;
		&__wrapper {
			box-sizing: border-box;
			padding: 30px;
			padding-bottom: 55px;
			position: relative;
		}
		&__title {
			text-align: center;
			margin-top: 200px;
			font-size: 3.5rem;
			line-height: 1.4285;
			font-weight: 800;
			color: $black-300;
		}
		&__note {
			text-align: center;
			margin: 0;
			margin-top: 10px;
			font-size: 1.8rem;
			line-height: 1.39;
			font-weight: 500;
			color: $gray-600;
		}
	}
}

@media screen and (max-width: 991px) {
	.modal {
		&-coach {
			width: 80vw;
		}
		&-submit {
			min-height: 290px;
			min-width: auto;
			width: 320px;
			background-size: 230px 196px;
			background-position: -10px 48px;
			&__wrapper {
				padding: 25px;
				padding-bottom: 41px;
			}
			&__title {
				margin-top: 130px;
				font-size: 2.5rem;
				line-height: 1.2;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.modal {
		&-coach {
			
		}
	}
}

@media screen and (max-width: 352px) {
	.modal {
		&-submit {
			width: calc(100% - 32px);
		}
	}
}